@import "_variables";
@import "_mixins";

.contacts {
  padding-bottom: 68px;
  &__content {
    display: flex;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__left {
    position: relative;
    width: 66%;
    margin-right: 30px;
  }
  &__left-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 11;
    color: $colorHeader;
    transition: all 0.3s ease-in-out;
  }
  &__left-svg {
    width: 20px;
    height: 20px;
  }
  &__left-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 181px;
    padding-left: 58px;
    padding-right: 44px;
    width: 48%;
    height: 100%;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0.85);
  }
  &__left-title {
    line-height: 22px;
    font-weight: 400;
    color: $colorWhite;
  }
  &__left-desc {
    margin-top: 6px;
    line-height: 28px;
    color: $colorIcons;
  }
  &__left-phone {
    color: $colorWhite;
    display: flex;

    align-items: center;
  }
  &__left-phone-svg {
    width: 22px;
    height: 22px;
  }
  &__left-map {
    height: 460px;
    width: 100%;
  }
  &__right {
    width: 30%;
  }
  &__right-title {
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 22px;
  }
  &__right-desc {
    margin-bottom: 14px;
    font-family: "Roboto" serif;
    line-height: 22px;
    color: $colorLightDark;
  }
  &__right-form {
    display: flex;
    flex-direction: column;
  }
  &__right-label {
    position: relative;
  }
  &__right-label .just-validate-error-label {
    position: absolute;
    top: 0;
    left: 23px;
    font-size: 12px;
  }
  &__right-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 23px;
    background-color: #e9e9e9;
    border: 1px solid transparent;
    outline: none;
  }
  &__right-textarea {
    resize: none;
    width: 100%;
    height: 150px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 23px;
    background-color: #e9e9e9;
    border: 1px solid transparent;
    outline: none;
  }
  &__right-btn {
    @include btn;
  }
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

//hover
@media (min-width: 1024px) {
  .contacts {
    &__left-btn:hover {
      color: $colorOrange;
    }
    &__right-btn:hover {
      @include btn-hover;
    }
    &__left-phone:hover {
      color: $colorOrange;
    }
  }
}

//active, focus
.contacts {
  &__right-btn:active {
    @include btn-active;
  }
  &__right-btn:focus-visible {
    @include btn-focus;
  }
  &__left-btn:active {
    color: $colorOrangeActive;
  }
  &__left-btn:focus-visible {
    color: $colorOrangeFocus;
    outline: none;
  }
  &__left-phone:active {
    color: $colorOrangeFocus;
  }
  &__left-phone:focus-visible {
    color: $colorOrangeFocus;
    outline: none;
  }
  &__right-input:focus-visible {
    border: 1px solid $colorOrange;
  }
  &__right-textarea:focus-visible {
    border: 1px solid $colorOrange;
  }
  .is-invalid {
    border: 1px solid red;
  }
}

@media (max-width: 1300px) {
  .contacts {
    &__left {
      max-width: 590px;
    }
    &__left-content {
      padding-top: 25px;
      padding-bottom: 21px;
      padding-left: 30px;
      padding-right: 50px;
      width: 100%;
      height: 33%;
      bottom: 0;
    }
    &__left-btn {
      top: 10%;
      right: 3%;
    }
    &__right {
      width: 34%;
    }
  }
}

@media (max-width: 1023px) {
  .contacts {
    &__content {
      flex-direction: column;
    }
    &__left {
      margin-right: 0;
      width: 100%;
      max-width: 1023px;
    }
    &__right {
      margin-top: 28px;
      width: 65%;
    }
  }
}

@media (max-width: 575px) {
  .contacts {
    padding-bottom: 46px;
    &__right {
      margin-top: 19px;
      width: 100%;
    }
    &__right-input {
      height: 40px;
    }
    &__right-btn {
      font-size: 14px;
      line-height: 16px;
    }
    &__right-desc {
      line-height: 18px;
    }
    &__left-map {
      height: 472px;
    }
    &__left-title {
      font-size: 18px;
    }
    &__left-desc {
      font-size: 14px;
      line-height: 18px;
    }
    &__left-phone {
      font-size: 14px;
    }
  }
}
