$colorDark: #202020;
$colorLightDark: #999;
$colorHashtag: #333;
$colorHeader: #4A4A4A;
$colorIcons: #CACACA;
$colorWhite: #FFF;
$colorOrange: #FF6E30;
$colorOrangeFocus: #BC572B;

$colorOrangeActive: #CE4307;






